body {
    background-color: blueviolet;
    color: white;
}

h1,h2 {
    margin: 0 0 50px 0;
    font-size: 2em;
    font-style: sans-serif;
    background-color: white;
    color:blueviolet;
    border-left-style: solid;
    border-left-width: 10px;
    border-radius: 20px;
}

img {
    width: 150px;
    border-color: white;
    border-radius: 100px;
}

img:hover {
    box-shadow: 0 0 2px 1px blueviolet;
}

ul {
    
    border-style: thin;
    border-radius: 10px;
    border-color: plum;
}

.column1{
    float: left;
    width: 600px;
}

.column2{
    float: right;
    width: 600px;
    margin-bottom: 20px;
    
}

.picture{
    background-color: white;
    border-radius: 20px;
}

form {
    background-color: grey;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;

}

input [type="submit"] {
    display:block;
    float: right;
}

input  {
    border-right: none;
    border-left: none;
    border-top: none;
    background-color: grey;
    border-width: thin;
    color: white;
    margin-left: 10px;
}

label {
    margin-left: 10px;
}

legend {
    display: block;
    margin: 0 auto;
}